.episode {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  &__title {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #0a0a0a;
    margin-top: 10px;
  }

  &__summary {
    width: 65%;
    display: flex;
    align-items: flex-start;
    line-height: 1.6;
    background-color: #F7F7F7;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 0 16px 16px 16px;

    &--img {
      margin: 16px 20px 0 0;
    }
  }

  &__info {
    width: 25%;
    background-color: #F7F7F7;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;

    &--bold {
      font-weight: 500;
    }
  }

  &__back {
    font-size: 18px;
    color: #7b95a3;
    cursor: pointer;

    &:hover {
      color: #6c8999;
    }
  }
}
